/* html {
  scroll-behavior: smooth;
} */

body {
  background-color: #141414 !important;
}

.overlay {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 8%, 0) 0,
    hsla(0, 0%, 8%, 0.15) 15%,
    hsla(0, 0%, 8%, 0.35) 29%,
    hsla(0, 0%, 8%, 0.58) 44%,
    #141414 68%,
    #141414
  );
  position: absolute;
  width: 100%;
  height: 12%;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.overlay2 {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 9%, 0),
    #161616 83.95%,
    #161616
  );
  position: absolute;
  width: 100%;
  height: 12%;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.noscroll {
  overflow: hidden;
}

.pop-up-animation {
  animation: popup 0.3s forwards;
}

.pop-up-animation-reverse {
  animation: popup 0.3s forwards reverse !important;
}

@keyframes popup {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
