.m-r-10px {
  margin-right: 10px;
}

.m-b-14 {
  margin-bottom: 14px;
}

.pop-up-info {
  will-change: auto;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.788);
  user-select: none;
  overflow-y: scroll;
  animation: popup-gradiant 0.4s forwards;
}

.pop-up-info .co {
  margin: 0 auto 32px auto;
  width: 89%;
  font-size: 14px;
}

.pop-up-info hr {
  border: 1px solid #7777;
  margin: 15px 0px;
}

#pop-up-info .pop-up-info .data {
  width: 850px;
  min-width: 850px;
  min-height: 1000px;
  background-color: #181818;
  margin: 30px auto 0;
  border-radius: 6px;
  overflow: hidden;
}

#pop-up-info .pop-up-info .data figcaption {
  display: none;
}

#pop-up-info .pop-up-info .data article img {
  max-width: 340px;
}

#pop-up-info .pop-up-info .data article .btns {
  margin-top: 20px;
}

#pop-up-info .pop-up-info .data .more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  padding-top: 30px;
  font-size: 14px;
}

#pop-up-info .pop-up-info .data .more .left {
  flex: 2;
}

#pop-up-info .pop-up-info .data .more .left .top {
  font-size: 16px;
  margin-bottom: 40px;
}

#pop-up-info .pop-up-info .data .match {
  color: #46d369;
  font-weight: 700;
}

#pop-up-info .pop-up-info .data .co .nudity {
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  font-weight: 300;
  overflow: hidden;
  padding: 0 0.4em;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

#pop-up-info .pop-up-info .data .hd {
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  border-radius: 3px;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 0.7em;
  padding: 0 0.5em;
  white-space: nowrap;
}

#pop-up-info .pop-up-info .data .more .right {
  flex: 1;
}

#pop-up-info .pop-up-info .data .more .right .info a {
  text-transform: capitalize;
}

#pop-up-info .pop-up-info .data .more .right .info a:hover {
  text-decoration: underline;
}

#pop-up-info .pop-up-info .data .mark {
  color: #777777;
  margin-right: 4px;
}

#pop-up-info .pop-up-info .data h5 {
  font-size: 24px;
  margin: 30px 0 8px 0;
}

@keyframes popup-gradiant {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
