.SLider__Item {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.SLider__Item .bg-img-co {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 9%, 0),
    #161616 83.95%,
    #161616
  );
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
}

.SLider__Item .figc-alt {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  font-size: 14px;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.SLider__Item .Video__Container .Video {
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.SLider__Item.entering .Video__Container {
  width: 100%;
  height: 100%;
}

.swiper.hover-on {
  overflow: visible !important;
}
